/*@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/CabinetGrotesk-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}*/

.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk";
  font-weight: 700;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
